{% extends 'base.html.twig' %}

{% block body %}
{% for articulo in articulos %}
    <div class="articulo">
        <h4><a href="{{ path("ver_articulo",{id:articulo.id}) }}" >{{ articulo.nombre }}</a>
            <a href="{{ path("borrar_articulo", {id:articulo.id}) }}">X</a></h4>
        <div class="precio_articulo">
            {{ articulo.precio }}
        </div>
        <div>
            <img class="foto" src="{{ asset('/imagenes/') }}/{{ articulo.foto }}">
        </div>
        <a href="{{ path('add_articulo_carrito', {id:articulo.id}) }}" class="boton_comprar">
           AÑADIR AL CARRITO
        </a>
    </div>
{% else %}
    No hay  ningún articulos a la venta.
{% endfor %}
<div style="clear:both"></div>
{% if app.user %}
<a href="{{ path("insertar_articulo") }}">Insertar articulo</a>
{% endif %}
{% endblock %}
