{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="articulo">
        <h4>{{ articulo.nombre }}</h4>
        <div class="categoria_articulo"><a href="{{ path('ver_categoria', {id:articulo.categoria.id}) }}">{{ articulo.categoria.nombre }}</a></div>
        <p>{{ articulo.descripcion }}</p>
        <div class="precio_articulo">
            {{ articulo.precio }}
        </div>
    </div>
{% endblock %}
